<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="../static/style.css">
    <title>Bingo Leaderboard</title>
    <style>
        table {
            border-collapse: collapse;
            margin: 20px auto;
        }
        th, td {
            border: 1px solid #000;
            padding: 10px;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Bingo Leaderboard</h1>
    <table class="vote-table">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Name</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            {% for user, score in leaderboard.items() %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ user }}</td>
                <td>{{ score }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div style="text-align: center;">
        <a href="{{ url_for('holiday_bingo') }}"><button>Back to Bingo</button></a></br>
        <a href="{{ url_for('index') }}"><button>Back to Home</button></a>
    </div>
</body>
</html>
