<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Holiday Trivia Leaderboard</title>
</head>
<body>
    <div class="rules-section">
    <h1>Holiday Trivia Leaderboard</h1>
    <hr>
    <table class="vote-table">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Name</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in leaderboard_data %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ entry.name }}</td>
                <td>{{ entry.score }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    <p></p>
    <a href="{{ url_for('index') }}"><button>Back to Home</button></a>
</body>
</html>
