<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboard Landing</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Leaderboards</h1>
    <div style="text-align: center;">
        <ul style="list-style-type: none; padding: 0;">
            <li><a href="{{ url_for('leaderboard_vote') }}"><button>Voting Leaderboard</button></a></li>
            <li><a href="{{ url_for('leaderboard_bingo') }}"><button>Bingo Leaderboard</button></a></li>
            <li><a href="{{ url_for('leaderboard_trivia') }}"><button>Trivia Leaderboard</button></a></li>
        </ul>
    </div>
    <a href="{{ url_for('index') }}"><button>Back to Home</button></a>
</body>
</html>
