<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Leadership Trivia Setup</title>
    <style>
        table {
            margin: 20px auto;
            border-collapse: collapse;
            width: 50%;
        }
        th, td {
            text-align: left;
            padding: 10px;
        }
        td input, td select {
            width: 100%;
        }
        button {
            margin: 20px auto;
            display: block;
        }
    </style>
</head>
<body>
    <div class="rules-section">
    <h1 style="text-align: center;">How Well Do You Know Your Leadership Team?</h1>

    <section>
    <h2>Objective</h2>
    <p>Test your knowledge of the leadership team! You'll answer a set of multiple-choice questions about the leaders, and your score will be determined by how many correct answers you give.</p>
    </section>
    <section>
        <h2>Leadership Team</h2>
        <p></p>
        <ul>
            <li>Jessica Stevens</li>
            <li>Scott Smith</li>
            <li>Russ Schaefer</li>
            <li>Scott Phillips</li>
            <li>Matt Hillmer</li>
            <li>Lynda Hartman</li>
            <li>Todd Eastman</li>
            <li>Nate Brown</li>
            <li>Sampson Abrahams</li>
        </ul>
        </section>
    <h2>To get started</h2>
    <section>
    <ul>
        <li>Enter your name to start.</li>
        <li>Select the number of questions you want to attempt (10, 15, 20, 25, or 30).</li>
        <li>Predict how many questions you think you'll answer correctly.</li>
        <li>Answer each question by selecting the correct leader from a list of options.</li>
        <li>After each question, you'll see whether your answer was correct or incorrect, along with the correct answer.</li>
        <li>Complete all the questions to see your final score and your rank on the leaderboard.</li>
    </ul>
    <p>Checkout the full rules and how to play <a href="{{ url_for('leadership_trivia_rules') }}">here</a>
    </section>

    </div>
    <form method="POST">
        <table class="vote-table">
            <tr>
                <td><label for="name">Your Name:</label></td>
                <td><input type="text" id="name" name="name" required></td>
            </tr>
            <tr>
                <td><label for="num_questions">Number of Questions:</label></td>
                <td>
                    <select id="num_questions" name="num_questions">
                        <option value="" selected disabled>Select a number</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                        <option value="25">25</option>
                        <option value="30">30</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="predicted_score">Predicted Score:</label></br>How many questions do think you'll get right?</td>
                <td><input type="number" id="predicted_score" name="predicted_score" required min="0" size="80%"></td>
            </tr>
        </table>
        <button type="submit">Start Game</button>
    </form>
    <a href="{{ url_for('index') }}"><button>Back to Home</button></a>
</body>
</html>
