<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Holiday Party</title>
</head>
<body>
    <h1>Welcome to the Holiday Party!</h1>
    <a href="/games"><button>Play Games</button></a></br>
    <a href="/vote"><button>Vote for best of</button></a></br>
    <a href="/leaderboard"><button>View Leaderboards</button></a></br>
</body>
</html>
