<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Thank You</title>
</head>
<body>
    <div class="rules-section">
        <h1>Thank You!</h1>
        <p>Your vote has been recorded. We appreciate your input!</p>
        <a href="{{ url_for('vote') }}"><button>Vote Again</button></a>  <a href="{{ url_for('index') }}"><button>Back to Home</button></a>
    </div>
</body>
</html>
